
.oes-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 10px;
    border-radius: 0;
    border:none;
}

a.oes-card-img {
    position:relative;
    border-bottom: 1px solid grey
}

.oes-card-overlay {
    background-color: var(--oes-active-blue);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition: .5s;
}

a.oes-card-img:hover .oes-card-overlay{
    opacity: 50%
}

.oes-card .card-body {
    position:relative;
}

.oes-card .oes-card-text {
    padding-bottom: 4.25rem;
}

.oes-card .card-body a {
    position:absolute;
    bottom: 1.25rem;
    left:1.25rem;
    right: 1.25rem;
}