.oes-anchor-block{
    width: 100%;
    background-color: whitesmoke;
    border-left: 5px solid #52accc;
}

.oes-anchor-id {
    color: #52accc;
}

.oes-anchor-id:before {
    content: "\f103";
    font-family: "dashicons", serif;
    padding: 5px;
}