
/* Filter List */
ul.oes-filter-list-container {
    list-style: none;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-left: 0;
    margin-left: 0
}

ul.oes-filter-list-container > li {
    border-top: 1px solid var(--oes-primary-contrast);
    padding: 5px;
}

ul.oes-filter-list-container > li:last-child {
    border-bottom: 1px solid var(--oes-primary-contrast);
}

ul.oes-filter-list-container > li a {
    color: var(--oes-primary);
    width: 100%;
}

ul.oes-filter-list-container > li a:hover,
ul.oes-filter-list-container > li a[aria-expanded="true"] {
    color: var(--oes-contrast);
}

ul.oes-filter-list-container > li > a:after {
    font-family: "FontAwesome", serif;
    content: "\f103";
    font-size: 1.5rem;
    padding: 0 5px;
    float: right;
    margin-left: 10px;
}

ul.oes-filter-list-container > li > a[aria-expanded="true"]:after {
    content: "\f102";
}

ul.oes-filter-list-container li.active {
    display: none;
}

ul.oes-filter-list {
    list-style: none;
    margin-bottom: 0;
    margin-block-start: 15px;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-left: 15px;
    margin-left: 0
}

ul.oes-filter-list > li {
    padding: 5px 0;
}

ul.oes-filter-list > li:last-child {
    padding-bottom: 1rem;
}

.oes-archive-filter-item a {
    display:flex;
    justify-content: space-between;
    word-break: break-word;
}

.oes-filter-item-count {
    padding: 0 5px;
    margin-right: 5px;
    word-break: keep-all;
}


/* Active Filter */
.oes-active-filter-container {
    display: none;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 5;
}

ul.oes-active-filter-container-list {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.oes-active-filter {
    list-style-type: none;
    padding-inline-start: 0;
    padding-bottom: 10px;
}

ul.oes-active-filter:empty {
    display: none;
}

ul.oes-active-filter-container-list li,
ul.oes-active-filter li {
    display: inline;
    margin: 0
}

ul.oes-active-filter:after {
    /*content: ",";*/
    padding-left: 5px;
    font-size: 0.8rem;
    color: var(--oes-dark);
}

ul.oes-active-filter li:after {
    content: "or";
    padding: 0 5px;
    font-size: 0.8rem;
    color: var(--oes-dark);
}

ul.oes-active-filter li:last-child:after {
    content: "";
    padding: 0;
}

ul.oes-active-filter li a {
    color: var(--oes-contrast);
    background-color: var(--oes-background);
    padding: 6px 12px;
    font-size: 0.8rem;
}

ul.oes-active-filter li a > span {
    padding-right: 12px;
}

.oes-active-filter-item:after {
    content: 'x';
    padding-left: 6px;
    border-left: 1px solid var(--oes-contrast);
}