/*----------------------------------------------------------------------------------------------------------------------
CSS Styling for admin layer.
----------------------------------------------------------------------------------------------------------------------*/

:root {
    --wordpress-light-grey: #e1e1e1;
    --wordpress-lighter-grey: #f6f7f7;
    --oes-active-blue: #268fbb;
    --oes-primary: #004589
}

/* Login icon */
#login h1 a,
.login h1 a {
    background-image: url('../images/oes_cubic_512.png');
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

#footer-thankyou {
    display: none;
}

.oes-dashboard-postbox-container .oes-dashboard-button-group {
    padding-bottom: 10px;
}

/* TODO next release : acf fix, check if still necessary after acf pro update */
.acf-block-fields {
    margin: 0 !important;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- GENERAL -------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-display-none {
    display: none
}

/* Colors */
.oes-warning {
    background-color: yellow;
}

.oes-notice {
    color: red;
    font-style: italic;
    border: 1px solid red;
}

.oes-grey-out {
    font-style: italic;
    color: lightgrey;
}

.oes-remark {
    font-style: italic;
    color: #787c82;
}

/* Paddings and margins */
.oes-p-5px {
    padding: 5px;
}

.oes-pb-0-5 {
    padding-top: .5rem;
}

.oes-pb-1 {
    padding-bottom: 1rem;
}

.oes-pb-2 {
    padding-bottom: 2rem;
}

.oes-pb-3 {
    padding-bottom: 3rem;
}

.oes-pt-0-5 {
    padding-top: .5rem;
}

.oes-pt-1 {
    padding-top: 1rem;
}

.oes-pt-2 {
    padding-top: 2rem;
}

.oes-pt-3 {
    padding-top: 3rem;
}

.oes-pt-1-0 {
    padding: 1rem 0;
}

.oes-pt-0-1 {
    padding: 0 1rem;
}

/* Admin link */
a.oes-admin-link:after {
    content: "\f103";
    font: normal 1rem/1 dashicons;
}

/* Inline code */
.oes-object-identifier,
.oes-object-identifier-br {
    opacity: 75%;
    font-size: .7rem;
    font-weight: lighter;
}

.oes-object-identifier {
    margin-left: .7rem;
}

.oes-code-container {
    border: #ebebeb solid 1px;
    background: #fafafa;
    border-radius: 3px;
}

/* Icons */
.oes-dashicons {
    font-family: "dashicons", serif;
    vertical-align: middle;
}

.oes-dashicons:active,
.oes-dashicons:focus {
    outline: 0;
    border: none;
    --moz-outline-style: none;
    box-shadow: none;
}

.oes-plus:before {
    content: "\f132";
}

.oes-minus:before,
.oes-plus.active:before {
    content: "\f460";
}

.oes-yes:before {
    content: "\f12a";
    color: green;
}

.oes-dismiss:before {
    content: "\f335";
    color: grey;
}

/* Toggle checkbox */
.oes-toggle-checkbox input[type="checkbox"] {
    display: none;
}

.oes-toggle-checkbox label.oes-toggle-label {
    width: 2rem;
    height: 1.2rem;
    box-sizing: border-box;
    border: 1px solid var(--wordpress-lighter-grey);
    background-color: var(--wordpress-light-grey);
    float: left;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}

.oes-toggle-checkbox input[type=checkbox]:checked + label {
    background: var(--oes-active-blue);
}

.oes-toggle-checkbox input[type=checkbox]:checked + label:before {
    left: .9rem;
}

.oes-toggle-checkbox label.oes-toggle-label:before {
    transition: .3s ease;
    content: '';
    width: .8rem;
    height: .8rem;
    position: absolute;
    background: white;
    left: .15rem;
    top: .15rem;
    box-sizing: border-box;
    border-radius: 1rem;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- DISPLAY SETTINGS ---------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-settings-submit .submit {
    padding: 0 !important;
    margin: 10px 0 !important;
    float: left !important;
}

.oes-operations thead td input {
    margin: 0;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- MENU PAGE : OES CONFIGURATIONS -------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-form-wrapper-small input[type="text"] {
    width: 100%;
}

ul.oes-settings-nav-tabs {
    list-style-type: none;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

ul.oes-settings-nav-tabs li {
    float: left;
    margin-bottom: 0;
}

ul.oes-settings-nav-tabs li a {
    display: block;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    border: 1px solid white;
    text-decoration: none;
    white-space: nowrap;
}

ul.oes-settings-nav-tabs li a.active,
ul.oes-settings-nav-tabs li a:hover {
    background-color: #52accc;
    border: 1px solid #52accc;
    color: white;
}

/* Expand button */
.oes-config-expand-button-wrapper {
    float: right;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- MENU PAGE : TOOLS --------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-tools-checkboxes {
    border: #ebebeb solid 1px;
    background: #fafafa;
    border-radius: 3px
}

.oes-tools-checkboxes-wrapper {
    padding: 5px 12px;
}

.oes-tools-checkbox-single {
    margin: .5rem 0;
    padding: .1rem 0;
}

.oes-tools-checkboxes-wrapper span {
    padding-left: .5rem;
}

#oes-delete-posts input[type=checkbox]:checked + label {
    background: red;
}

/* Operations */
.oes-operation-display thead th {
    font-weight: 600;
}

tr.oes-operation-container-row {
    border-top: 1px solid var(--wordpress-light-grey);
}

tr.oes-operation-container-row td ul {
    margin-inline-start: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
}

td.oes-operation-include {
    border: 1px solid var(--wordpress-light-grey);
}

td.oes-operation-additional-info {
    font-size: .7rem;
    border-left: 1px solid var(--wordpress-light-grey)
}

td.oes-operation-additional-info div {
    padding-bottom: .7rem;
}

td.oes-operation-additional-info span:after {
    content: ': ';
}

span.oes-operation-empty-value {
    font-weight: 200;
    opacity: 50%;
}

.oes-operations-table {
    padding-bottom: 2rem;
}
.oes-operation-select {
    position: absolute;
    padding-top: 1rem;
}

.oes-operations .tablenav {
    position: relative;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------
-- NAVIGATION MENUS ----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.menu-item-settings .acf-menu-item-fields {
    margin: 1rem 0;
}

.acf-fields.acf-menu-item-fields > .acf-field .acf-label label {
    font-style: normal !important;
    color: var(--oes-primary);
    margin: 10px 0 5px;
    padding-top: 10px;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- Tasks ---------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.post-type-oes_task #commentstatusdiv {
    display: none;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- GENERAL -------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

/* add separator before appearances */
#adminmenu li.wp-menu-separator {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    height: 2px;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- ADMIN PAGE : GENERAL ------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-info-icon {
    padding-left: .3em;
}

.oes-info-icon:after {
    content: "\f348";
    font: normal 20px/1 dashicons;
    color: #426890;
    margin: 1em 0;
}

/* Accordion */
.oes-accordion {
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-weight: 600;
    font-size: 14px
}

.oes-accordion a,
.oes-accordion.active,
.oes-accordion.active a,
.oes-accordion:hover a,
.oes-accordion:hover:before {
    color: #004489;
}

.oes-accordion:hover {
    color: #004489;
}

.oes-accordion-panel {
    display: none;
    overflow: hidden;
    padding: 5px 10px;
}

.oes-accordion-body.active .oes-accordion-panel {
    display: block;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- ADMIN PAGE : ADMIN COLUMNS ------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

/* modify filter and input buttons in post type list views */
.tablenav .actions select,
.tablenav .actions input {
    margin: 5px 8px 5px 0 !important;
}

span.oes-column-post,
span.oes-column-tag,
span.oes-column-taxonomy {
    display: block
}

span.oes-column-post a.oes-admin-link:after {
    font-size: .8rem;
    padding-left: 3px;
}

/* columns for list view (make same as WP date) */
#date_modified.column-date_modified {
    width: 14%;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- VERSIONING ----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

#oes-post-parent-version-information {
    padding: 9px 6px 15px 6px;
}

.oes-versioning-button-groups {
    padding-top: 15px;
}

.oes-versioning-post-list {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.oes-versioning-post-list thead {
    background-color: rgb(243, 245, 246);
    border: 1px solid #096484;
    color: #096484;
}

.oes-versioning-post-list th,
.oes-versioning-post-list tr,
.oes-versioning-post-list td {
    vertical-align: top;
    border: none;
    padding: 5px;
    text-align: left;
}

.oes-versioning-post-list tr + tr {
    border-top: 1px solid #ccd0d4;
}

.oes-versioning-post-list td + td {
    border-left: 1px solid #ccd0d4;
}

.oes-versioning-post-list td label {
    margin-bottom: 0;
}

.oes-versioning-post-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.oes-versioning-post-list tbody tr:hover {
    background-color: #ddd;
}

.oes-versioning-post-list tr.oes-current-post {
    background: #096484;
    color: #fff
}

.oes-versioning-post-list tr.oes-current-post a {
    color: #e1a948;
}

.oes-versioning-translation-info {
    opacity: 60%;
}

.oes-versioning-translation-info:hover {
    opacity: 100%;
}

.oes-versioning-translation-info .oes-replace-postbox-h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    color: #096484;
    padding: 0;
}

.oes-versioning-translation-posts table {
    margin-top: 15px;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- MENU PAGE : CONTAINER -----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-menu-container {
    margin-top: 1rem;
}

.oes-menu-container .oes-container-page-title-action {
    top: 0;
    margin: 5px 0;
}

.oes-menu-container .oes-container-after-item {
    font-style: italic;
    margin-left: 5px;
}

.oes-menu-container .oes-container-more-string {
    padding-top: 0.8rem;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- MENU PAGE : CONFIGURATIONS ------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

/* Table */
table.oes-config-table thead:not(:first-of-type) th,
table.oes-config-table thead:not(:first-of-type) td {
    border-top: 1px solid #c3c4c7;
}

/* Expand icon */
table.oes-config-table .oes-dashicons {
    font-size: 1.5rem;
}

tr.oes-config-table-separator {
    background-color: #268fbb !important;
}

tr.oes-config-table-hide {
    display: none
}

tr.oes-config-table-separator td,
tr.oes-config-table-separator th {
    color: white !important;
}

.oes-expandable-row-20 {
    width: 20px;
}

/* Header rows */
tr.oes-expandable-header td,
tr.oes-expandable-header th {
    border-top: 1px solid var(--wordpress-light-grey);
    vertical-align: top;
}

tr.oes-expandable-header .oes-info-icon:after {
    color: darkgrey;
    font-size: 16px;
}

tr.oes-expandable-header .oes-tooltip.oes-description .oes-tooltip-text {
    top: 1.5rem;
    white-space: normal;
    width: 20rem;
}

tr.oes-expandable-header.active {
    background-color: var(--oes-active-blue);
    border-left: 1px solid #268fbb;
    border-right: 1px solid #268fbb;
}

tr.oes-expandable-header.active td,
tr.oes-expandable-header.active th,
tr.oes-expandable-header.active a,
tr.oes-expandable-header.active code,
tr.oes-expandable-header.active strong,
tr.oes-expandable-header.active span {
    color: white;
}

/* Options table */
tr.oes-expandable-row table {
    width: 100%;
    vertical-align: top;
    border: 1px solid var(--wordpress-light-grey);
    border-right: none;
    border-collapse: collapse;
}

tr.oes-expandable-row > td {
    padding: 0;
}

/* Table field count */
span.oes-config-data-model-field-count {
    float: right;
    font-weight: normal;
}

/* Option value table */
table.oes-option-table select,
table.oes-option-table input[type="text"] {
    max-width: 100%;
    width: 100%;
}

/* Transposed table */
table.oes-config-table tbody th,
table.oes-option-table tbody th {
    vertical-align: top;
    border-right: 1px solid var(--wordpress-light-grey);
    border-bottom: 1px solid var(--wordpress-light-grey);
    border-top: 1px solid var(--wordpress-light-grey);
    background: var(--wordpress-lighter-grey);
}

table.oes-config-table tbody td.oes-table-transposed,
table.oes-option-table tbody td.oes-table-transposed {
    background-color: white;
    border-bottom: 1px solid var(--wordpress-light-grey);
}

.oes-operation-type-header th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.oes-operation-type-header > th:first-child {
    border-right: none;
}

.oes-config-warning {
    padding: .5rem;
    margin-bottom: 2rem;
}

/* Pattern */
.oes-pattern-panel {
    display: none;
}

.oes-pattern-panel.active {
    display: block;
}

table#oes-pattern-definition {
    table-layout: auto;
    border-right: 1px solid var(--wordpress-light-grey)
}

table#oes-pattern-definition thead th:first-child {
    width: 125px;
}

table.pattern-definition td.no-padding .oes-accordion-body div {
    padding: 10px;
}

table.pattern-definition td.no-padding .oes-accordion-body div.oes-accordion-panel {
    padding: 0;
}

table.pattern-definition td.pattern-grey2 {
    background-color: rgb(246, 247, 247);
}

table.pattern-definition .oes-accordion-panel {
    padding: 0;
}

.oes-pattern-row-delete,
.oes-pattern-row-up {
    margin-right: 5px !important;
}

.oes-pattern-row-delete {
    color: #a00 !important;
    border-color: #a00 !important;
}

.oes-pattern-row-up:before {
    content: "\f343";
    font-family: "dashicons", serif
}

.oes-pattern-row-down:before {
    content: "\f347";
    font-family: "dashicons", serif
}

.oes-pattern-row-add:before {
    content: "\f543";
    font-family: "dashicons", serif
}

.oes-pattern-row-delete:before {
    content: "\f335";
    font-family: "dashicons", serif
}

/* Cache settings */
.oes-settings-annotations p {
    font-style: italic;
    color: #787c82;
    padding: 0;
    margin: 0;
}

/* Logo settings */
.oes-row {
    display: flex;
}

.oes-column-75 {
    flex: 75%;
}

.oes-column-25 {
    flex: 25%;
    border-left: 1px solid var(--wordpress-light-grey);
    padding-left: 1rem;
}

.oes-column-image {
    width: 100%;
}

.oes-favicon-preview {
    width: 32px;
    height: 32px;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- BLOCKS --------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

.oes-block-control-wrapper {
    padding: 16px;
    border-top: 1px solid #e0e0e0;
}