.oes-config-table {
  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #268fbb;
    background-color: white;
  }
}