.oes-hide {
    visibility: hidden;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-block-start: -1rem !important;
    margin-block-end: 0 !important;
}

.oes-uppercase {
    text-transform: uppercase;
}

.oes-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}