.oes-version-info {

  ul.oes-horizontal-list {

    li:after {
      content: "|";
      padding: 0 5px;
    }

    li:first-child {
      padding-left: 0;
      border-left: 0;
    }

    li:last-child {
      padding-right: 0;
      border-right: 0;
    }

    li:last-child:after {
      display: none;
    }
  }
}