
/* ---------------------------------------------------------------------------------------------------------------------
-- BACKEND -------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------------------------------------------
-- GENERAL -------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

/* RESULT PANEL ------------------------------------------------------------------------------------------------------*/

#oes-lod-frame {
    display:none;
}

.oes-lod-frame-backdrop {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:310px;
    min-height:360px;
    background:#000;
    opacity:.7;
    z-index: 80 !important;
}

.oes-lod-frame-content {
    position:fixed;
    left:190px;
    right:340px;
    top:60px;
    bottom:30px;
    z-index:160001;
    background-color:white;
    overflow:scroll;
}

button#oes-lod-frame-close {
    position:fixed;
    right:340px;
    top:60px;
    width:50px;
    height:50px;
    border: 1px solid transparent;
    background:white;
    color: #646970;
    z-index: 1000;
    cursor:pointer;
    outline:0;
    transition: color .1s ease-in-out, background .1s ease-in-out;
}

button#oes-lod-frame-close span:before {
    content: "\f158";
    font: normal 20px/1 dashicons;
    vertical-align:middle;
}

.oes-lod-title {
    padding:0 16px 8px 16px;
    line-height: 50px;
    border-bottom: 1px solid #aaa;
    width:calc(100% - 562px);
    position:fixed;
    background-color:white;
    z-index:95
}

.oes-lod-content-table{
    height:100%;
    padding-top:50px;
    position: relative;
}


/* RESULTS TABLE -----------------------------------------------------------------------------------------------------*/

.oes-lod-results-spinner {
    position:absolute;
    top: 160px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    height:100%;
    width:75%;
}

.oes-spinner {
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
}

.oes-lod-information {
    padding: 1rem 1rem 0 1rem;
    color: #aaa;
}

.oes-lod-results-table-wrapper {
    padding: 1rem;
    position: relative;
    height: 100%;
}

table#oes-lod-results-table {
    padding: 1rem 0 .5rem 0;
    width:100%;
}

table#oes-lod-results-table,
table#oes-lod-results-table thead th,
table#oes-lod-results-table thead td {
    border-bottom: 1px solid #dcdcde;
}

table#oes-lod-results-table thead th {
    color:#aaa;
}

table#oes-lod-results-table th:first-child,
table#oes-lod-results-table td:first-child {
    width:20px;
}

table#oes-lod-results-table tbody:before {
    line-height:1em;
    content:"\200C";
    display:block;
}

table#oes-lod-results-table th,
table#oes-lod-results-table td {
    text-align:left;
    vertical-align: top;
}

/* GDN PREVIEW -------------------------------------------------------------------------------------------------------*/

.oes-gnd-link-admin {
    position:relative;
}

.oes-gnd-link-admin a {
    padding-right:5px;
    vertical-align: center;
}

.oes-gnd-link-admin img {
    vertical-align: middle;
}

.oes-lod-gnd-preview {
    min-width:80vh;
    min-height:150px;
    background-color:white;
    border: 1px solid #aaa;
    overflow-y:scroll;
    position: absolute;
    top:20px;
    left:25px;
    z-index:160001;
    margin-right:300px;
    padding:5px;
}

.oes-lod-gnd-preview-close {
    position:absolute;
    top:5px;
    right:0;
    border: 1px solid transparent;
    background:white;
    z-index: 1000;
    cursor:pointer;
    outline:0;
    transition: color .1s ease-in-out, background .1s ease-in-out;
    text-decoration: none;
}

.oes-lod-gnd-preview-close span:before {
    content: "\f158";
    font: normal 20px/1 dashicons;
    vertical-align:middle;
}

.oes-gnd-preview-description {
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

table.oes-gnd-preview {
    color: grey;
    margin:1rem;
    border-collapse: collapse;
}

table.oes-gnd-preview tr {
    border-bottom: 1pt solid rgb(220, 220, 222);
}

table.oes-gnd-preview td,
table.oes-gnd-preview th {
    vertical-align: top;
}

table.oes-gnd-preview th {
    padding-right: 10px;
}

table.oes-gnd-preview td {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-weight:normal;
}


/* ---------------------------------------------------------------------------------------------------------------------
-- META BOX ------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

#oes-api {
    z-index:90;
}

#oes-api .inside {
    margin:0;
    padding:0;
}

.oes-lod-meta-box-title,
.oes-lod-meta-box-options-container {
    padding:16px;
}

/* OPTIONS -----------------------------------------------------------------------------------------------------------*/

#oes-lod-authority-file {
    width: 100%;
}

.oes-lod-result-copy {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding:16px 0;
    display:none;
}

.oes-lod-meta-box-toggle {
    position: relative;
    padding: 16px;
    outline: none;
    width: 100%;
    font-weight: 500;
    text-align: left;
    color: #1e1e1e;
    border:none;
    height: auto;
    background-color: inherit;
    text-decoration: none;
}

.oes-lod-meta-box-toggle:hover,
.oes-lod-meta-box-toggle:focus {
    color: #1e1e1e;
    box-shadow: none;
}

.oes-lod-meta-box-toggle:after {
    content: "\f343";
    font:normal 1rem/1 dashicons;
    float:right;
    padding-right: 16px;
}

.oes-lod-meta-box-toggle.oes-toggle-collapsed:after{
    content: "\f347"
}

.oes-lod-meta-box-options-container.oes-collapsed {
    display:none;
}

.oes-lod-meta-box-options-container > div {
    padding: 0 15px 15px;
}

.oes-lod-meta-box-api-options-container label {
    padding-right: 15px;
}

.oes-lod-result-copy select {
    width: 100%;
}


/* COPY OPTIONS ------------------------------------------------------------------------------------------------------*/

.oes-lod-meta-box-copy-options-button {
    padding: 15px;
}

.oes-lod-options-list {
    margin-block-start: 0;
    margin-block-end: 0;
}

.oes-lod-copy-value {
    font-weight:600;
    color: #004489;
    vertical-align:middle;
}

.oes-gnd-prepare-copy-list {
    padding-left:2rem;
}

/* SEARCH ------------------------------------------------------------------------------------------------------------*/

.oes-lod-meta-box-search-wrapper {
    padding:16px;
}

.oes-lod-meta-box-search-wrapper #oes-lod-frame-show {
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------
-- BLOCK EDITOR : SIDEBAR ----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/


/* ICON --------------------------------------------------------------------------------------------------------------*/

/* new icon TODO @nextRelease: identify by name instead of last-child? */
.components-button.has-icon .dashicon.dashicons-oes-lod-sidebar-icon {
    background : url('../../../assets/images/oes_cubic_18x18.png') no-repeat;
    margin-right: 5px;
    margin-top: 5px;
    height:100%;
}

.interface-pinned-items .components-button.has-icon:last-child {
    background-color: rgb(246, 247, 247);
    border: 1px solid #096484;
}

.interface-pinned-items .components-button.has-icon:last-child:after {
    content: "Linked Open Data";
    color: #096484;
    padding-right: 5px;
}

/* icon is pressed */
.interface-pinned-items .components-button.has-icon.is-pressed:last-child {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

.interface-pinned-items .components-button.has-icon.is-pressed:last-child:after {
    color: white;
}

.components-button.interface-complementary-area__pin-unpin-item.is-pressed {
    display:none;
}

/* OPTIONS -----------------------------------------------------------------------------------------------------------*/

.oes-lod-sidebar-toggle {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #1e1e1e;
    transition: color .1s ease-in-out;
}

.oes-lod-sidebar-toggle:after {
    content: "\f343";
    font:normal 1rem/1 dashicons;
    float:right;
}

.oes-lod-sidebar-toggle.oes-toggle-collapsed:after{
    content: "\f347"
}

.oes-lod-sidebar-options.oes-collapsed {
    display:none;
}

.oes-lod-sidebar-options .components-base-control__field{
    padding-top: 16px;
}

/* SEARCH ------------------------------------------------------------------------------------------------------------*/

.oes-lod-sidebar-search {
    padding-top: 16px;
}

.oes-lod-sidebar-search-container .components-base-control{
    margin-bottom: 0;
}

input#oes-lod-search-input {
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 2px;
    display: block;
    padding: 16px 48px 16px 16px;
    background: #f0f0f0;
    border: none;
    width: 100%;
    height: 48px;
    position: relative;
}

/* RESULT PROCESSING -------------------------------------------------------------------------------------------------*/

.oes-lod-result-shortcode {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display:none;
}

.oes-lod-shortcode-title{
    padding: 0 15px 5px 15px;
}

.oes-lod-meta-box-shortcode-container-wrapper {
    padding:0 15px;
}

.oes-lod-result-shortcode #oes-lod-shortcode-container {
    border-color: #096484;
    border-radius: 0;
}

#oes-lod-shortcode {
    padding: 5px;
}

/* RESULT PANEL ------------------------------------------------------------------------------------------------------*/

.block-editor .oes-lod-frame-backdrop {
    top:92px;
    right:280px;
}

.block-editor .oes-lod-frame-content {
    left:190px;
    right:310px;
    top:110px;
}

.is-fullscreen-mode .block-editor .oes-lod-frame-content{
    left:30px;
}

.block-editor #oes-lod-frame-close {
    top:110px;
    right:310px;
}

.block-editor .oes-lod-title {
    width:calc(100% - 502px);
    line-height: 1rem;
}

.is-fullscreen-mode .block-editor .oes-lod-title{
    width:calc(100% - 342px);
}


/* ---------------------------------------------------------------------------------------------------------------------
-- RESPONSIVE ----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:960px) {
    .oes-lod-frame-content {
        left:62px;
    }

    .block-editor .oes-lod-title {
        width:calc(100% - 374px);
        line-height: 1rem;
    }
}

@media only screen and (max-width:782px) {
    .oes-lod-frame-content {
        left:5px;
        right:5px;
        top:50px;
        bottom:5px;
    }
}


/* Frontend ----------------------------------------------------------------------------------------------------------*/

/* container */
.gnd-container {
    display:inline-block;
}

/* link */
.oes-gndlink img {
    padding-left:5px;
    display:inline;
}

/* box */
.oes-gnd-box-container {
    position:absolute;
    left:50%;
    min-width:50%;
}

.oes-gnd-box {
    position:relative;
    left:-50%;
    z-index:40;
    border:1px solid gainsboro;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    background-color:rgba(256, 256, 256, 1);
    min-width:10rem;
    min-height:10rem;
    height:auto;
    opacity:97%;
    overflow:auto;
}

.oes-gnd-box:hover {
    border-color:black;
    opacity:100%;
}


button.oes-gnd-box-close{
    float:right;
    width:50px;
    height:50px;
    border: 1px solid transparent;
    background:white;
    color: #646970;
    z-index: 1000;
    cursor:pointer;
    outline:0;
    transition: color .1s ease-in-out, background .1s ease-in-out;
}

button.oes-gnd-box-close span:before {
    content: "x";
    vertical-align:middle;
}

.oes-gnd-box {
    padding:10px;
}

.oes-gnd-box .oes-gnd-box-image img {
    padding:15px;
    margin:auto;
    min-height:200px;
    max-height:30vh;
    max-width: 30%;
}

.oes-gnd-box-inner table {
    font-size:14px;
    color: #646970;
    padding:10px;
}

.oes-gnd-box-inner table th,
.oes-gnd-box-inner table td {
    vertical-align: top;
    border:none !important;
}

.oes-gnd-box .gnd-external-link {
    width:100%;
    padding:5px;
    border-top: 1px solid gainsboro;
}

.oes-gnd-box ul.oes-gnd-box-list {
    list-style:none;
    padding-left:0;
}

.oes-gnd-box ul.oes-gnd-box-lis li {
    display:inline
}



/* ---------------------------------------------------------------------------------------------------------------------
-- GND BOX (modified) --------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/


.oes-gnd-box-table-data td {
    display:flex;
}

.oes-gnd-box-table-data th {
    padding-right: 1rem;
}

.oes-gnd-box-table-data td ul {
    margin-bottom: 0;
}

.oes-gnd-table-additional {
    padding-left: 5px;
}

.oes-gnd-box-container-inner {
    display: flex;
    margin: 1rem 0;
}

.oes-gnd-box-image-inner {
    max-width: 30%;
}

.oes-gnd-box-image-inner img {
    max-width: 100%;
    margin-right: 1rem;
    padding-right: 1rem;
}

button.oes-gnd-box-close {
    padding:0;
    width: 12px;
    height: 12px;
    margin: -5px 0 0;
    font-size: 1.2rem;
}
button.oes-gnd-box-close span:before {
    content: "\00d7";
}

.oes-gnd-box-title h3.oes-content-table-header3 {
    margin: .5rem 0;
}

ul.oes-gnd-box-list li {
    display: inline-block;
}

ul.oes-gnd-box-list li:after {
    content: "\00b7";
    padding: 0 5px;
}

ul.oes-gnd-box-list li:last-child:after {
    content: "";
    padding: 0;
}

.oes-gnd-additional-info {
    font-size: 14px;
    color: #646970
}