ul.oes-table-of-contents {
  .oes-toc-header2 {
    padding-left: 0;
  }

  .oes-toc-header3 {
    padding-left: 1em;
  }

  .oes-toc-header4 {
    padding-left: 2em;
  }

  .oes-toc-header5 {
    padding-left: 3em;
  }

  .oes-toc-header6 {
    padding-left: 4em;
  }
}